header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F25F5C;
    height: 100px;
    .logo{
         max-width: 100%;
         img{
             
             width: 220px;
             height: 110px;
         }
    }
    ul{
        display: flex;
        flex-direction: row;
         align-items: center;
        li{
            list-style: none;
            margin: 5px;
            a{
                text-decoration: none;
                color: white;
                
            }
        }
    }
    // li {
    //     align-self: center;
    //     margin: 5px;
    //     list-style: none;
    //     font-size: 22px;
        a{
            align-self: center;
            margin: 5px;
            text-decoration: none;
            color: #FFE066;
        }
    
}
.error{
    color:red;
    text-align: center;
}
form {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 250px;
    p{
        color: white;
        
    }
    button{
        color: black;
        border: none;
        width: 50%;
        padding: 5px;
        margin: 10px auto;
        background: rgb(194,251,194);
        border-radius: 5px;
        transition: 0.5s ease-in;
        &:hover{
            cursor: pointer;
            color: white;
            background: green;
            border: none;
            outline: none;
        }
    }
}