*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #e4d281;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left bottom, #e4d281, #c5e2dd);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #e4d281, #c5e2dd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
